.app-container {
	display: flex;
	flex-direction: column;
	max-width: 100%;
}

.content {
	display: flex;
	flex: 1;
}

.main-content {
	margin: 50px;
	display: flex;
	flex-direction: column;
}

.main-container {
	display: flex;
	flex-direction: row;
}

.infos-container {
	display: flex;
	width: 100%;
	margin-top: 5%;
}

.nutrients {
	background-color: aquamarine;
	display: flex;
	flex-direction: column;
}
