.daily {
	background-color: #fbfbfb;
	width: 100%;
}

.lineChart {
	color: black;
}
.barChart {
	display: flex;
	flex-direction: row;
}
.daily-tooltip {
	height: 63px;
	width: 39px;
	display: flex;
	padding: 10px;
	flex-direction: column;
	font-size: 12px;
	align-items: center;
	background-color: #e60001;
	color: white;
}
.black-point,
.red-point {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	display: inline-block;
	margin-right: 10px;
}

.black-point {
	background-color: black;
}

.red-point {
	background-color: #e60001;
}
.title-legend {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	h2 {
		font-size: 14px;
		font-family: 'Roboto';
		font-weight: medium;
		color: #20253a;
	}
}
.legend {
	span {
		margin-right: 20px;
		font-size: 14px;
		font-family: 'Roboto';
		color: #74798c;
	}
}
