.leftNavbar-container {
	background-color: black;
	width: 117px;
	height: 140vh;
}
.left-menu img {
	margin-bottom: 20px;
}
.left-menu {
	/* background: red; */
	display: flex;
	flex-direction: column;
	width: 64px;
	margin: 200px 0px 0px 20px;
}
.copyright {
	color: white;
	width: 170px;
	margin: 180px 0px 0px -30px;
	transform: rotate(270deg);
}
