.nutrient-container {
	/* background: #fbfbfb; */
	background: green;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	width: 100%;
}
.nutrient {
	display: flex;
	justify-content: space-between;
	margin: 20px 0;
}
.nutrient img {
	width: 60px;
}
