.user-container {
	/* background-color: blue; */

	width: 396px;
	height: 200px;
	top: 159px;
	left: 224px;
	gap: 0px;
	opacity: 0px;
}
.user-name-span {
	color: #fa1901;
}
h2 {
	font-family: Roboto, sans-serif;
	font-size: 16px;
	font-weight: 400;
}
